*{
    box-sizing:border-box;
}

body{
    background-image: conic-gradient(at top right, lime, cyan);
}

.container{
    width:400px;
    padding:10px 5px;
    background-color: rgb(238, 235, 235);
    border-radius: 4px;
    box-shadow: 0.7px 1px 5px 0.3px rgb(201, 201, 201),-0.7px -1px 5px 0.3px rgb(216, 216, 216);
    margin:100px auto;
    font-size: 16px;
}
.heading{
    text-align: center;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 10px;
}

.field{
    margin: 5px 0px 10px 0px;
    
}

.field>.input{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    width:100%;
    height:32px;
    border:1px solid rgb(197, 196, 196);
}

.input>img{
    height: 100%;
}

.input>input{
    height:100%;
    width:1%;
    flex: 1 1 auto;
    border:none;
}

select{
    width:100%;
    border:none;
}

.display{
    width:100%;
    padding:5px;
    background-color: white;
    text-align: center;
    margin-top: 20px;
}

.custom{
    display: none;
}