*{
    box-sizing: border-box;
    font-size: 18px;
}

body{
    background-color:#f0f0f0;
}

.mar-tb{
    margin:30px auto 30px auto;
}
[class*="col-"]{
    width:100%;
}

.container{
    display: flex;
    flex-direction: column;
}

.shadow{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.signup{
    border-style: none;
    background-color: #bee032;
    color:white;
    text-align: center;
    padding:15px 10px;
    font-weight: 600;
    margin:auto;
}

.content-left{
    background-color: #2bb3b1;
    color:white;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.content-right{
    background-color: #4abebd;
    color:white;
}

@media only screen and (min-width: 630px){
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .mar-tb{
      margin:200px auto 200px auto;
  }
}

.header{
    width:100%;
    height:auto;
    padding:15px;
    background-color: white;
}

